<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">             
              <div class="card p-4">                
                <div class="card-body">
                   <form> 
                    <h1>Forget Password</h1>
                    <br/>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="email" autocomplete="email"  >
                      
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <button type="submit"  class="btn btn-primary px-4">Submit</button>
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" (click)="back_url()" class="btn btn-link px-0">Back</button>
                      </div>
                    </div>
                   </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>



