<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card-group">             
              <div class="card p-12">                
                <div class="card-body">
                  
                    <form [formGroup]="profileForm" (ngSubmit)="profileFormSubmit()">
                    
                    
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Full Name" formControlName="fullname">
                      </div>

                      <div class="alert alert-danger" *ngIf="isSubmitted && profileForm.controls.fullname.errors">
                        <div *ngIf="profileForm.hasError('required','fullname')">Please enter email.</div>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="email" autocomplete="email" formControlName="email">
                    </div>
                    
                    <div class="alert alert-danger" *ngIf="isSubmitted && profileForm.controls.email.errors">
                        <div *ngIf="profileForm.hasError('required','email')">Please enter email.</div>
                    </div>

                    <div class="row">
                      <div class="col-6">
                        <button type="submit"  class="btn btn-primary px-4">Submit</button>
                      </div>
                    </div>
                    </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>
  </div>



