<!-- <div class="input-wrapper" [class.required]="required">
	<label>{{label}}</label>
	<input type="text"
	       [required]="required"
	       [disabled]="disabled"
	       [minlength]="minlength"
	       [placeholder]="placeholder"
	       [(ngModel)]="data"
	       [ngModelOptions]="{standalone: true}"
	       (input)="onChange()"
	       (change)="onChange()"
	       (blur)="onTouchedFn()"/>
	<div class="error-message" *ngIf="showError">
		{{errors[0]}}
	</div>
</div> -->


<div class="form-group">
	<div class="input-wrapper" [class.required]="required">
    <label [for]="id">{{ label }}</label>
	<input 
		[type]="type" 
		(submit_validaiton_flag)="submit_validaiton_flag"
		class="form-control"
		
		[id]="id"
		[pattern]="pattern"
		[required]="required"
		[disabled]="disabled"
		[minlength]="minlength"
		[maxlength]="maxlength"		
		[placeholder]="placeholder"
		[(ngModel)]="data"
		[ngModelOptions]="{standalone: true}"
		(input)="onChange()"
		(change)="onChange()"
		(blur)="onTouchedFn()"/>

      <small class="text-danger" *ngIf="(showError || submit_validaiton_flag)">
        {{errors[0]}}
	  </small>
	  </div>
  </div>